# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Android/IntelliJ
.gradle/
build/
local.properties
/android/key.properties

# Flutter
.metadata
.packages
.flutter-plugins
.flutter-plugins-dependencies
ios/
android/
build/
